<div *ngIf="pointRecords">

  <ngx-datatable class="material" [rows]="pointRecords.items" [columnMode]="'standard'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="'auto'">

    <ngx-datatable-column name="Kdo">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.owner}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Za co">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.reason}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Pocet bodu">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.points}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Zadal/Upravil">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.lastModifiedBy}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Dne">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.lastModifiedDate}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Proplaceno">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.paidDate}}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

  <div>
    <app-paging [totalItemsCount]="pointRecords.totalCount" [pageSize]="pointRecords.pageSize" [pageIndex]="pointRecords.pageIndex"
      (pageSizeChanged)="pageSizeChanged.emit($event)" (pageIndexChanged)="pageIndexChanged.emit($event)">
    </app-paging>
  </div>
</div>
